.signin{
    position: fixed;
    background:white;
    bottom: 0;
    left: -300px;
    width:300px;
    max-width:300px;
    z-index: 4;
}

.signinpage{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.788);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
.base{
    height: 100vh;
    display: grid;
    align-items: center;
        background-position: "center";
     background-size: "cover";
}

.subbase{
    width: 95%;
    margin: auto;
}
.subbase button{
    height: 58px;
    width: 116px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 16px;
    cursor: pointer;
    background-color: black;
    border:transparent;
    margin-left: 10px;
    cursor: pointer;
}
#inparea{
    display: flex;
    padding: 40px 0px 20px;
}
#h1{
    font-size: 52px;
    font-weight: 700;
}

#baseinp{
    width: 540px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
}


#baseinp input{
    width: 100%;
    height: 40px;
    outline: transparent;
    border: transparent;
    font-size: 16px;
    margin: 8px 2% ;
    background-color: transparent;
}
#baseinp svg{
    margin-left: 20px;
}

#subbasesign{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

@media only screen and (max-width:685px) {
    #baseinp{
        width: 200px;
        height: 40px;
    }
    
    
    #baseinp input{
        width: 100%;
        height: 20px;
        font-size: 13px;
        margin: 4px 2% ;
    }
    /* #baseinp svg{
        margin-left: 20px;
    }
     */
     #h1{
        font-size: 40px;
        font-weight: 700;
    }
     .subbase button{
        height: 40px;
        width: 100px;
        font-size: 18px;
        padding: 6px 8px;
        margin-left: 10px;
    }
}
@media only screen and (max-width:500px){
    #h1{
        font-size: 30px;
    }
}
@media only screen and (max-width:400px){
    #h1{
        font-size: 20px;
    }
    #baseinp{
        width: 180px;
        height: 30px;
    }
    
    
    #baseinp input{
        width: 100%;
        height: 20px;
        font-size: 12px;
        margin: 4px 2% ;
    }
     .subbase button{
        height: 30px;
        width: 80px;
        font-size: 14px;
        padding: 4px 4px;
        margin-left: 10px;
    }
}