.navbar{
    position:fixed;
    width: 100%;
    z-index: 2;
    /* border-bottom: 3px solid rgba(128, 128, 128, 0.123); */
}
.menuicon{
    width: 25px;
}
.menudiv{
    padding: 35px 20px 35px 0px;
    /* border: 1px solid black; */
}

.signbtn{
    font-family: sans-serif;
    background-color: #E2E2E2;
    border: transparent;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    width: 83px;
    margin: 25px 20px;
    padding: 12px 16px;
    border-radius: 25px;
}
/* .signbtn:active{
    background-color: rgb(240, 227, 227);
} */
.nav2{
    width:95%;
    margin:auto;
    display:flex;
    justify-content:space-between
}
.baseinp{
    display: flex;
    background-color: #EEEEEE;
    height: 56px;
    width: 560px;
    margin: 18px;
}
.baseinp input{
    width: 80%;
    height: 40px;
    outline: transparent;
    border: transparent;
    font-size: 16px;
    margin: 8px 2% ;
    background-color: transparent;
}
.baseinp svg{
    margin: 10px 0 0 20px;
}

@media only screen and (max-width:950px){
    .baseinp{
        width:300px
    }
}
@media only screen and (max-width:682px){
    .baseinp{
        width:200px;
        height: 40px;
    }
    .baseinp input{
        height: 25px;
        font-size:14px ;
    }
    .baseinp svg{
          margin: 5px 0 0 10px;
          width: 20px;
    }
    .menudiv{
        padding: 25px 20px 25px 0px;
    }
    .signbtn{
        height: 48px;
        width: 83px;
        margin: 15px 20px;
        padding: 6px 8px;
    }
}
@media only screen and (max-width:500px){
    .menuicon{
        width: 20px;
    }
    .menudiv{
        padding: 15px 20px 15px 0px;
    }
    #uberEats{
        width: 100px;
        margin-top: 5px;
    }
    .signbtn{
        height: 35px;
        width: 70px;
        margin: 10px 20px;
    }
    .baseinp{
        height: 30px;
        margin: 10px;
    }
    .baseinp input{
        height: 16px;
        font-size:12px ;
    }
    .menudiv{
        padding: 10px 20px 10px 0px;
    }
    .baseinp svg{
        margin: 0 0 0 10px;
        width: 20px;
  }
}
@media only screen and (max-width:400px){
    .menuicon{
        width: 15px;
    }
    .menudiv{
        padding: 10px 10px 10px 0px;
    }
    #uberEats{
        width: 75px;
        margin-top: 2px;
    }
    .signbtn{
        height: 30px;
        width: 70px;
        font-size: 15px;
        margin: 5px 10px;
    }
    .baseinp{
        height: 30px;
        margin: 5px;
    }

}